In [1]:
df = {'nik','priya','tom','ron','mike'}

In [2]:
cf = {'shyam','maya','nik'}

In [3]:
type(df)

set

##### Add() , clear(), copy(), pop(), remove()

In [4]:
df.add('Nikhil')

In [5]:
df

{'Nikhil', 'mike', 'nik', 'priya', 'ron', 'tom'}

##### difference() & difference_update()

In [6]:
df.difference(cf)

{'Nikhil', 'mike', 'priya', 'ron', 'tom'}

In [9]:
df-cf

{'Nikhil', 'mike', 'priya', 'ron', 'tom'}

In [10]:
df

{'Nikhil', 'mike', 'nik', 'priya', 'ron', 'tom'}

In [11]:
df = {'nik','priya','tom','ron','mike'}

In [12]:
cf = {'shyam','maya','nik'}

In [13]:
df.difference_update(cf)

In [14]:
df

{'mike', 'priya', 'ron', 'tom'}

##### discard()

In [16]:
cf

{'maya', 'nik', 'shyam'}

In [17]:
cf.discard('maya')

In [18]:
cf

{'nik', 'shyam'}

##### intersection() & intersection_update()

In [19]:
df = {'nik','priya','tom','ron','mike'}
cf = {'shyam','maya','nik','tom'}

In [20]:
df.intersection(cf)

{'nik', 'tom'}

In [21]:
df

{'mike', 'nik', 'priya', 'ron', 'tom'}

In [22]:
df = {'nik','priya','tom','ron','mike'}
cf = {'shyam','maya','nik','tom'}

In [23]:
df.intersection_update(cf)

In [24]:
df

{'nik', 'tom'}

##### isdisjoint()

In [25]:
df = {'nik','priya','tom','ron','mike'}
cf = {'shyam','maya','nik','tom'}

In [26]:
df.isdisjoint(cf)

False

In [27]:
df = {'nik','priya','tom','ron','mike'}
cf = {'shyam','maya'}

In [28]:
df.isdisjoint(cf)

True

##### issubset() & issuperset()

In [29]:
df = {'nik','priya','tom','ron','mike'}
cf = {'priya','nik'}

In [30]:
cf.issubset(df)

True

In [31]:
cf.issuperset(df)

False

In [32]:
df.issubset(cf)

False

In [33]:
df.issuperset(cf)

True

##### symmetric_difference() & symmetric_difference_update()

In [38]:
df = {'nik','priya','tom','ron','mike'}
cf = {'priya','nik'}

In [39]:
df.symmetric_difference(cf)

{'mike', 'ron', 'tom'}

In [40]:
df

{'mike', 'nik', 'priya', 'ron', 'tom'}

In [41]:
df.symmetric_difference_update(cf)

In [42]:
df

{'mike', 'ron', 'tom'}

##### union() & update()

In [57]:
df = {'nik','priya','tom','ron','mike'}
cf = {'john','Nick','nik'}

In [58]:
df.union(cf)

{'Nick', 'john', 'mike', 'nik', 'priya', 'ron', 'tom'}

In [59]:
df

{'mike', 'nik', 'priya', 'ron', 'tom'}

In [60]:
df.update(cf)

In [61]:
df

{'Nick', 'john', 'mike', 'nik', 'priya', 'ron', 'tom'}

In [62]:
df[1]

TypeError: 'set' object is not subscriptable

##### Frozonset

It's a unmutable set

In [56]:
df

frozenset({'Nick', 'john', 'mike', 'nik', 'priya', 'ron', 'tom'})

In [63]:
df = frozenset(df)

In [64]:
df

frozenset({'Nick', 'john', 'mike', 'nik', 'priya', 'ron', 'tom'})

In [65]:
type(df)

frozenset

TypeError: 'frozenset' object is not subscriptable